In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.random(200).reshape(2, 100))
df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.690424,0.157527,0.521531,0.310772,0.388335,0.198422,0.365887,0.987917,0.899908,0.638356,...,0.403694,0.396704,0.805829,0.770605,0.263312,0.154643,0.154430,0.959360,0.37486,0.994712
1,0.641658,0.733094,0.219916,0.308783,0.151673,0.736916,0.959810,0.729830,0.343816,0.950139,...,0.115856,0.601714,0.325825,0.641212,0.605477,0.591009,0.441857,0.565358,0.82982,0.644796